<a href="https://colab.research.google.com/github/Abimsek/Abimbola-A.S.-Hamoye-Stage-A-quiz/blob/main/Abimbola_AS_Hamoye_stage_B_quiz_tag_along_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [30]:
df=pd.read_csv('/content/drive/MyDrive/energydata_complete.csv')

In [31]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [33]:
df.shape

(19735, 29)

In [34]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [35]:
rename_column= {"T1":"Temperature in kitchen area", "RH_1":"Humidity in kitchen area", "T2":"Temperature in living room area",
                "RH_2":"Humidity in living room area", "T3":"Temperature in laundry room area", "RH_3":"Humidity in laundry room area",
                "T4":"Temperature in office room", "RH_4":"Humidity in office room", "T5":"Temperature in bathroom",
                "RH_5":"Humidity in bathroom", "T6":"Temperature outside the building (north side)", "RH_6":"Humidity outside the building (north side)",
                "T7":"Temperature in ironing room", "RH_7":"Humidity in ironing room", "T8":"Temperature in teenager room 2",
                "RH_8":"Humidity in teenager room 2", "T9":"Temperature in parents room", "RH_9":"Humidity in parents room",
                "T_out":"Temperature outside (from Chievres weather station)", "Press_mm_hg":"Pressure (from Chievres weather station)",
                "RH_out":"Humidity outside (from Chievres weather station)","Windspeed":"Wind speed (from Chievres weather station)",
                "Visibility":"Visibility (from Chievres weather station)", "Tdewpont":"Tdewpoint (from Chievres weather station)",
                "rv1":"Random variable 1", "rv2":"Random variable 2"}

In [36]:
df=df.rename(columns=rename_column)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   date                                                 19735 non-null  object
 1   Appliances                                           19735 non-null  int64
 2   lights                                               19735 non-null  int64
 3   Temperature in kitchen area                          19735 non-null  float64
 4   Humidity in kitchen area                             19735 non-null  float64
 5   Temperature in living room area                      19735 non-null  float64
 6   Humidity in living room area                         19735 non-null  float64
 7   Temperature in laundry room area                     19735 non-null  float64
 8   Humidity in laundry room area                        19735 non-null  float64
 9   Temperature in office room                           19735 non-null  float64
 10  Humidity in office room                              19735 non-null  float64
 11  Temperature in bathroom                              19735 non-null  float64
 12  Humidity in bathroom                                 19735 non-null  float64
 13  Temperature outside the building (north side)        19735 non-null  float64
 14  Humidity outside the building (north side)           19735 non-null  float64
 15  Temperature in ironing room                          19735 non-null  float64
 16  Humidity in ironing room                             19735 non-null  float64
 17  Temperature in teenager room 2                       19735 non-null  float64
 18  Humidity in teenager room 2                          19735 non-null  float64
 19  Temperature in parents room                          19735 non-null  float64
 20  Humidity in parents room                             19735 non-null  float64
 21  Temperature outside (from Chievres weather station)  19735 non-null  float64
 22  Pressure (from Chievres weather station)             19735 non-null  float64
 23  Humidity outside (from Chievres weather station)     19735 non-null  float64
 24  Wind speed (from Chievres weather station)           19735 non-null  float64
 25  Visibility (from Chievres weather station)           19735 non-null  float64
 26  Tdewpoint                                            19735 non-null  float64
 27  Random variable 1                                    19735 non-null  float64
 28  Random variable 2                                    19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [39]:
df.describe(include='all')

,date,Appliances,lights,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,...,Temperature in parents room,Humidity in parents room,Temperature outside (from Chievres weather station),Pressure (from Chievres weather station),Humidity outside (from Chievres weather station),Wind speed (from Chievres weather station),Visibility (from Chievres weather station),Tdewpoint,Random variable 1,Random variable 2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-01-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530